# Task 1. Set up an "Analysis Pipeline" 
My partner and I both completed Task 1 and Task 2 together. We participated in peer programming to ensure we set up a promising analysis pipeline. Additionally, we made sure the method chaining works so the data is processed well and other attributes from project_functions are used. 

In terms of the Analysis Pipeline, we removed unnecessary columns and renamed the `Duration` column to `Duration (Minutes).` Also, we converted all the entries in the newly created `Duration (Minutes)` column into the minutes unit of time instead of having both hours and minutes.

# Task 2. Can be found under the scripts -> project_functions.py

For the method chaining, JQ and I set up the file structure. JQ worked on the core method #1 and method #2 chaining components. While I (Guy) created all the "Pythonic" methods, JQ and I integrated them with pandas.

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
sys.path.append('../scripts/')
import project_functions as pf

## Test functions that are used in the project_functions.py

In [2]:
def returnList(df, column):
    return df[column].tolist()

def countOccurances(listOfGenres):
    counts = {}
    for key in listOfGenres:
        if key in counts:
            counts[key] += 1
        else:
            counts[key] = 1
    return counts

def countWordsInDict(dictonary):
    counts = {}
    for key in dictonary:
        words = key.split(', ')
        for word in words:
            if word in counts:
                counts[word] += 1
            else:
                counts[word] = 1
    return counts

# Task 3. Exploratory Data Analysis (EDA) 

My partner and I both completed an EDA independently to explore different features of our dataset. Additionally, we informed each other about discoveries to learn more information about our dataset.

### Loading the clean data using the load_and_process attribute from project_functions.py

In [17]:
# storing our dataset in df variable and processing it and using the load and process function located in the project functions to clean it up
df = pf.load_and_process(pd.read_csv('../../data/raw/anime.csv'))

df_raw = pd.read_csv('../../data/raw/anime.csv')

# Examining the Data Before to Clean Up

It is nice to compare the differences between the raw and clean data. The raw data has 35 columns and 17562 rows.

We will notice a quick change shortly.

In [18]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MAL_ID         17562 non-null  int64
 1   Name           17562 non-null  object
 2   Score          17562 non-null  object
 3   Genres         17562 non-null  object
 4   English name   17562 non-null  object
 5   Japanese name  17562 non-null  object
 6   Type           17562 non-null  object
 7   Episodes       17562 non-null  object
 8   Aired          17562 non-null  object
 9   Premiered      17562 non-null  object
 10  Producers      17562 non-null  object
 11  Licensors      17562 non-null  object
 12  Studios        17562 non-null  object
 13  Source         17562 non-null  object
 14  Duration       17562 non-null  object
 15  Rating         17562 non-null  object
 16  Ranked         17562 non-null  object
 17  Popularity     17562 non-null  int64
 18  Members        17562 non-null  int64
 19  Favorites      17562 non-null  int64
 20  Watching       17562 non-null  int64
 21  Completed      17562 non-null  int64
 22  On-Hold        17562 non-null  int64
 23  Dropped        17562 non-null  int64
 24  Plan to Watch  17562 non-null  int64
 25  Score-10       17562 non-null  object
 26  Score-9        17562 non-null  object
 27  Score-8        17562 non-null  object
 28  Score-7        17562 non-null  object
 29  Score-6        17562 non-null  object
 30  Score-5        17562 non-null  object
 31  Score-4        17562 non-null  object
 32  Score-3        17562 non-null  object
 33  Score-2        17562 non-null  object
 34  Score-1        17562 non-null  object
dtypes: int64(9), object(26)
memory usage: 4.7+ MB

## Fundamental Column Information

This dataset has 29 columns and 3306 rows. The row count has reduced significanly from the original of 17562.

In [4]:
# General information from our dataframe
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3306 entries, 0 to 17469
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                3306 non-null   object
 1   Score               3306 non-null   object
 2   Genres              3306 non-null   object
 3   Type                3306 non-null   object
 4   Episodes            3306 non-null   object
 5   Aired               3306 non-null   object
 6   Premiered           3306 non-null   object
 7   Studios             3306 non-null   object
 8   Source              3306 non-null   object
 9   Duration (Minutes)  3306 non-null   object
 10  Rating              3306 non-null   object
 11  Ranked              3306 non-null   object
 12  Popularity          3306 non-null   int64
 13  Members             3306 non-null   int64
 14  Favorites           3306 non-null   int64
 15  Watching            3306 non-null   int64
 16  Completed           3306 non-null   int64
 17  On-Hold             3306 non-null   int64
 18  Dropped             3306 non-null   int64
 19  Plan to Watch       3306 non-null   int64
 20  Score-10            3306 non-null   object
 21  Score-9             3306 non-null   object
 22  Score-8             3306 non-null   object
 23  Score-7             3306 non-null   object
 24  Score-6             3306 non-null   object
 25  Score-5             3306 non-null   object
 26  Score-4             3306 non-null   object
 27  Score-3             3306 non-null   object
 28  Score-2             3306 non-null   object
 29  Score-1             3306 non-null   object
dtypes: int64(8), object(22)
memory usage: 929.7+ KB

,Name,Score,Genres,Type,Episodes,Aired,Premiered,Studios,Source,Duration (Minutes),...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,Sunrise,Original,24,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
2,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,Madhouse,Manga,24,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,Sunrise,Original,25,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,Toei Animation,Manga,23,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0
5,Eyeshield 21,7.95,"Action, Sports, Comedy, Shounen",TV,145,"Apr 6, 2005 to Mar 19, 2008",Spring 2005,Gallop,Manga,23,...,9226.0,14904.0,22811.0,16734.0,6206.0,2621.0,795.0,336.0,140.0,151.0

## Examining the Data Using Statistical Points

A neat point to notice here is that the data was scraped from the website, with the minimum number of people watching (from our clean dataset) at 12. This means that anime is so popular that even casual watchers are still watching multiple animes at once.

In [5]:
df.describe()

,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
count,3306.000000,3.306000e+03,3306.000000,3306.000000,3.306000e+03,3306.000000,3306.000000,3306.000000
mean,3386.106473,1.361595e+05,2090.861162,9885.641258,8.588078e+04,4314.740472,5505.506050,30572.842408
std,2960.277736,2.491431e+05,8684.466169,26374.033754,1.848136e+05,8286.632403,9230.437097,43747.139267
min,1.000000,3.630000e+02,0.000000,12.000000,0.000000e+00,4.000000,16.000000,102.000000
25%,1026.750000,9.833750e+03,22.000000,525.000000,3.774000e+03,386.250000,570.000000,3238.500000
50%,2525.500000,4.042300e+04,141.000000,2430.000000,1.887650e+04,1551.000000,2216.000000,12547.000000
75%,4940.750000,1.447902e+05,836.250000,9132.250000,7.736550e+04,4880.750000,6951.000000,40112.000000
max,12953.000000,2.589552e+06,183914.000000,566239.000000,2.182587e+06,130961.000000,174710.000000,425531.000000

In [6]:
# Number of unique data for each column
df.nunique(axis = 0)

Name                  3306
Score                  408
Genres                2079
Type                     1
Episodes               153
Aired                 2542
Premiered              203
Studios                489
Source                  15
Duration (Minutes)      37
Rating                   5
Ranked                2863
Popularity            2801
Members               3253
Favorites             1340
Watching              2609
Completed             3150
On-Hold               2455
Dropped               2587
Plan to Watch         3147
Score-10              2221
Score-9               2331
Score-8               2674
Score-7               2825
Score-6               2652
Score-5               2379
Score-4               1849
Score-3               1352
Score-2               1003
Score-1                956
dtype: int64

In [14]:
# Comparing information by rating and calculating the mean
df.groupby('Rating').mean()

,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
Rating,,,,,,,,
G - All Ages,7002.869444,12790.425000,113.672222,845.686111,6564.816667,637.275000,773.091667,3969.555556
PG - Children,6113.948276,21530.685345,210.689655,1223.650862,14410.547414,942.142241,1427.961207,3526.383621
PG-13 - Teens 13 or older,2938.747258,136904.897807,2008.769192,10187.333500,85078.357428,4556.983051,5847.247757,31234.976072
R - 17+ (violence & profanity),1580.781457,283007.017660,5391.788079,21213.081678,183013.874172,8047.291391,9251.181015,61481.589404
R+ - Mild Nudity,2524.619608,147883.356863,1374.564706,8032.466667,96638.427451,4038.450980,6553.878431,32620.133333

In [ ]:
# Convert every column entry in genres to a list
genreList = pf.returnList(df, 'Genres')
# Count number of occurances of each combintation in the list 
genreNumOccurances = pf.countOccurances(genreList)